.card
{
    background-image: url("https://www.bing.com/ck/a?!&&p=3ab387fb0dbcca63JmltdHM9MTcyMTA4ODAwMCZpZ3VpZD0xYzQ1ZWI5MC0wOTk2LTZhMjYtMDE0My1mOTc3MDgzYjZiZjAmaW5zaWQ9NTU5MQ&ptn=3&ver=2&hsh=3&fclid=1c45eb90-0996-6a26-0143-f977083b6bf0&u=a1L2ltYWdlcy9zZWFyY2g_cT12ZXJ0aWNhbCUyMGtlcmFsYSUyMHBpY3MmRk9STT1JUUZSQkEmaWQ9RDczRkRCRTFBMkFFNzdGQTczQ0FBNDcwRkJFREIzNTMzNzQyN0NBNw&ntb=1");
    background-size: 100%;
    height: 500px;
    width: 500px;
    text-align:center;
    
}
