.card
{
    background-image: url("https://s1.1zoom.me/b5545/524/India_Rivers_Riverboat_Alappuzha_Kerala_Palms_527898_2560x1440.jpg");
    background-size: 100%;
    height: 500px;
    width: 500px;
text-align:center;
}
